/**/
.content{
	@extend .container;
	@extend .horizon !optional;
	padding: 3rem 0;
	@include media (tablet-down){
		padding: 2rem 0;
		&--first{
			padding: 0 0 2rem;
		}
	}
	&__container{
		@include width-percentered(90);
	}
	&__holder{
		max-width: 100%;
		// margin: 2rem 0;
		.form-control{
			margin: 1rem 0;
			&:first-child{
				margin: 0 0 1rem;
			}
			&__footer{
				margin: .5rem 0 0;
				font-size: $size_short;
				font-weight: $weight_light;
			}
			&--file{
				display: block;
				height: auto;
			}
		}
	}
	&__subtitle{
		@extend .horizon__subtitle !optional;
		font-size: $size_avg;
		margin: 0 0 2rem;
		padding-bottom: .5rem;
	}
	&__mintitle{
		font-size: $size_midreg;
		line-height: $size_avg;
		font-weight: $weight_semibold;
		color: $color_ciper_black;
		text-transform: none;
		display: block;
		margin: 0 0 1rem;
	}
		&__excerpt{
		margin: 2rem 0;
		font-family: $font_montserrat;
		font-size: $size_small;
		font-weight: $weight_light;
		line-height: $size_common;
		color: $color_ciper_black;
		&:first-child{
			margin: 0 0 2rem;
		}
		a{
			color: $color_ciper_red;
			text-decoration: underline;
			&:hover{
				color: $color_ciper_red_light;
			}
		}
	}
	&__figure{
		margin: 0;
		&--min{
			max-width: 70%;
			margin: 0;
			margin-left: auto;
			img{
				width: 100%;
			}
		}
	}
	&__btn{
		display: inline-block;
		position: relative;
		width: auto;
		background: $color_ciper_green_semi;
		border: 1px solid $color_ciper_green_semi;
		border-radius: 0;
		color: $color_white;
		padding: 1rem 3rem;
		font-weight: $weight_semibold;
		font-size: $size_regular;
		line-height: $size_regular;
		cursor: pointer;
		@include transitional;
		@include media (small-down){
			width: 100%;
			text-align: center;
		}
		&:hover{
			background-color: $color_ciper_green_dark;
			border-color: $color_ciper_green_dark;
			color: $color_white;
			text-decoration: none;
			@include transitional;
		}
		&--ghost{
			background: transparent;
			color: $color_ciper_green_semi;
			@include transitional;
			&:hover{
				background: $color_ciper_green_dark;
				color: $color_white;
				@include transitional;
			}
		}
		&--file{
			background: transparent;
			border: 1px solid $color_ciper_green_semi;
			border-radius: .125rem;
			color: $color_ciper_green_semi;
			font-size: $size_short;
			padding: .75rem;
			position: relative;
			cursor: pointer;
			margin-right: 1rem;
			display: inline-flex;
			align-items: center;
			@include transitional;
			.full-file{
				cursor: pointer;
			}
			&:before{
				font-size: $size_small;
				margin-right: .5rem;
				@include get-icon($icon-insert_drive_file);
			}
			&:hover{
				background: $color_ciper_green_semi;
				color: $color_white;
				@include transitional;
			}
			&__desc{
				display: inline-block;
				font-size: $size_small;
				font-weight: $weight_medium;
				line-height: $size_small;
				color: $color_ciper_black;
				@include media (small-down){
					width: 100%;
				}
			}
			@include media (small-down){
				width: 100%;
				justify-content: center;
				margin: 0 0 .5rem;
			}
		}
		
		&.sending{
			position:relative;
			pointer-events: none;
			&:before{
				content: "";
				z-index: 100;
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background: transparent;
			}
	
			&:after{
				content: "";
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background: $loading-element;
				-webkit-animation-fill-mode: both;
				-o-animation-fill-mode: both;
				animation-fill-mode: both;
				z-index: 100;
			}
		}
		&.waiting{
			opacity: .5;
			@extend .no-click;
		}
	}
	&__btn-holder{
		@include flex-column;
		align-items: flex-start;
		margin: 1rem 0 0;
		&--spandex{
			margin: 2.5rem 0 0;
		}
		.content__btn{
			margin: 0 0 1.5rem;
		}
		@include media (small-down){
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding-top: .5rem;
			margin: 0;
			.content__btn{
				margin: 0 0 1rem;
			}
		}
	}
	&__link{
		color: $color_ciper_black;
		@include transitional;
		&--prev{
			font-size: .75rem;
			&:before{
				@include get-icon($icon-chevron_left);
			}
		}
		&:hover{
			text-decoration: underline;
			color: $color_ciper_red;
			@include transitional;
		}
	}
	&__pop-message{
		margin: 1rem 0;
		padding: 1.5rem;
		padding-left: 4rem;
		position: relative;
		&:first-child{
			margin: 0 0 1rem;
		}
		&__title{
			font-size: $size_regular;
			font-weight: $weight_semibold;
			line-height: $size_avg;
			margin: 0 0 .5rem;
		}
		&__excerpt{
			font-size: $size_small;
			font-weight: $weight_regular;
			line-height: $size_midreg;
			margin: 0;
			p{
				margin: 0;
			}
		}
		&:after{
			left: 1.25rem;
			top: 1.75rem;
			position: absolute;
			font-size: 2rem;
		}
		&--success{
			background: rgba($color_ciper_green_dark, .05);
			color: $color_ciper_green_dark;
			&:after{
				@include get-icon($icon-check_circle);
			}
		}
		&--error{
			background: rgba($color_ciper_red, .05);
			color: $color_ciper_red;
			&:after{
				@include get-icon($icon-cancel);
			}
		}
	}
	&__form{
		margin: 2rem 0;
		background: $color_ciper_white;
		padding: 2rem;
		@include media (tablet-down){
			margin: 1rem 0;
			padding: 1rem;
		}
		&-control{
			&__field{
				border: 1px solid $color_ciper_border;
			}
		}
		&__message{
			text-align: right;
			margin: .25rem 0 0;
			font-size: $size_short;
			font-weight: $weight_light;
			line-height: $size_short;
			color: $color_ciper_black;
			a{
				color: $color_ciper_black;
				text-decoration: underline;
				font-weight: $weight_light;
				@include transitional;
				&:hover{
					color: $color_ciper_red;
					text-decoration: underline;
					@include transitional;
				}
			}
			@include media (small-down){
				margin: .5rem 0 0;
			}
		}
		.content__btn-holder{
			margin-top: 2rem;
		}
	}
	&__chat{
		margin: 0 0 2rem;
		@include media (small-down){
			margin: 0 0 1rem;
		}
		&__message{
			position: relative;
			background: $color_ciper_white;
			border-bottom: 1px solid $color_ciper_border;
			color: $color_ciper_black;
			margin: 1rem 0 0;
			padding: 1rem 1rem 2rem 3rem;
			@include media (small-down){
				padding: 1rem 1rem 2rem 2.5rem;
			}
			&:first-child{
				margin: 0;
			}
			&:before{
				position: absolute;
				display: flex;
				align-items: center;
				justify-content: center;
				color: $color_white;
				background-color: $color_ciper_border;
				border-radius: 50%;
				top: .5rem;
				left: 0;
				font-size: 1.25rem;
				width: 2rem;
				height: 2rem;
				background-position: 50% 50%;
				background-repeat: no-repeat;
				@include media (small-down){
					width: 1.75rem;
					height: 1.75rem;
					font-size: 1rem;
				}
			}
			&--sent{
				&:before{
					@include get-icon($icon-person);
				}
			}
			&--response{
				&:before{
					@include get-icon($icon-people);
				}
			}
		}
		&__title{
			font-size: $size_regular;
			line-height: $size_regular;
			font-weight: $weight_semibold;
			margin: 0 0 1rem;
		}
		&__excerpt{
			font-size: $size_small;
			font-weight: $weight_light;
			font-family: $font_merriweather;
			line-height: $size_common;
			margin: 0 0 1rem;
			p{
				margin: 0 0 .5rem;
				&:last-child{
					margin: 0;
				}
			}
		}
		&__file{
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: flex-start;
			&:before{
				@include get-icon($icon-insert_drive_file);
				color: $color_ciper_black_light;
				margin-right: .25rem;
				font-size: $size_midreg;
			}
			a{
				font-size: $size_short;
				line-height: $size_short;
				font-weight: $weight_medium;
				text-decoration: underline;
				color: $color_ciper_black;
				&:hover{
					color: $color_ciper_red;
					text-decoration: underline;
				}
			}
		}
		&__data{
			font-size: $size_short;
			line-height: $size_regular;
			font-weight: $weight_light;
			margin: 1rem 0 0;
		}
	}
}

.full-file{
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	top: 0;
	left: 0;
}

.denuncias{
	&-caller{
		@include flex-row-center-stretch;
		flex-wrap: wrap;
		.content__btn{
			width: 100%;
			text-align: center;
		}
		@include media (tablet-down){
			flex-direction: column;
		}
	}
	&-callbox{
		margin: 0 .5%;
		padding: 2rem;
		background: $color_ciper_white;
		border: 1px solid $color_ciper_white;
		width: 49%;
		@include media (tablet-down){
			margin: 0 0 1rem;
			width: 100%;
		}
		&__title{
			font-size: $size_midreg;
			line-height: $size_avg;
			font-weight: $weight_semibold;
			color: $color_ciper_black;
		}
		&__excerpt{
			@extend .content__excerpt;
			margin: 0 0 1rem;
			p{
				margin: 0;
			}
		}
		&__extra{
			margin: 1rem 0 0;
			display: block;
			overflow: hidden;
		}
		&--clear{
			background: $color_white;
			border-color: $color_ciper_border;
		}
		&--full{
			flex-direction: row;
			width: 100%;
			display: flex;
			margin: 1.5rem 0 0;
			@include media (tablet-down){
				flex-direction: column;
				margin: 0;
			}
			.denuncias-callbox{
				&__header{
					width: 70%;
					padding-right: 1rem;
					@include media (tablet-down){
						padding: 0;
					}
				}
				&__extra{
					width: 30%;
					margin: 0;
				}
				&__header,
				&__extra{
					display: flex;
					flex-direction: column;
					justify-content: center;
					@include media (tablet-down){
						width: 100%;
					}
				}
			}
		}
	}
	&-codigo{
		@include flex-row;
		align-items: center;
		color: $color_ciper_black;
		@include media (tablet-down){
			// flex-direction: column;
		}
		&__title,
		&__code{
			margin: 0;
			padding: 1rem .5rem;
			align-items: stretch;
			@include media (tablet-down){
				flex: 1;
				width: 100%;
				padding: 1rem 0;
			}
		}
		&__title{
			font-size: $size_short;
			line-height: $size_short;
			font-weight: $weight_semibold;
			text-transform: uppercase;
			margin-right: 1rem;
			&:before{
				@include get-icon($icon-lock_outline);
				font-size: 1.25rem;
				margin-right: .5rem;
				@include media (small-down){
					margin-right: .25rem;
				}
			}
			@include media (small-down){
				margin-right: 0;
			}
		}
		&__code{
			position: relative;
			font-size: $size_avg;
			line-height: $size_medium;
			font-weight: $weight_light;
			background: $color_ciper_code;
			@include flex-row;
			justify-content: space-between;
			padding: 1rem;
			@include media (tablet-down){
				flex: 3;
			}
			button{
				font-size: $size_small;
				font-weight: $weight_medium;
				border: none;
				background: transparent;
				color: $color_ciper_border;
				@include transitional;
				&:before{
					@include get-icon($icon-content_copy);
					margin-right: .5rem;
				}
				&:hover{
					text-decoration: none;
					color: rgba($color_ciper_black_light, .75);
					@include transitional;
				}
			}
			input{
				background: transparent;
				border: none;
				width: 100%;
				color: $color_ciper_black;
				font-weight: $weight_medium;
				@include media (small-down){
					text-align: center;
				}
			}
			@include media (small-down){
				padding: .5rem;
				margin-left: .5rem;
				flex-direction: column;
				font-size: $size_regular;
			}
		}
	}

}

.the-footer{
	background: $color_ciper_black;
	&__body{
		@include flex-column;
		@include width-percentered(80);
		padding: 1rem 0;
		@include media (tablet-down){
			width: 100%;
			max-width: 100%;
			// margin: 0 1rem;
		}
	}
	&__logo{
		@include width-centered(15rem);
	}
	&__brand{
		margin: 0 auto 1rem;
		@include media (tablet-down){
			margin: 0 auto 2rem;
		}
	}
	&__data{
		@include flex-row-center-stretch;
		padding: 0;
		margin: 0;
		@include media (tablet-down){
			flex-direction: column;
			align-items: center;
		}
		&-item{
			font-size: $size_ten;
			font-weight: $weight_regular;
			line-height: $size_short;
			color: rgba($color_white, .75);
			margin: 0 1rem 0 0;
			@include media (tablet-down){
				margin: 0 0 1rem;
			}
			&:last-child{
				margin: 0;
			}
			a{
				color: rgba($color_white, .75);
				&:hover{
					color: $color_white;
				}
			}
		}
	}
}
.padd-small{
	@include media (small-down){
		padding: 0 0 1rem !important;
		&:last-child{
			padding: 0 !important;
		}
	}
}

.form-control--invalid{
	.form-control__text{
		display: none;
	}
}
.form-control--valid{
	.content__btn--file{
		&:before{
			content: $icon-check;
		}
	}
}

.message{
	&--ghost{
		&-success{
			color: $color_ciper_green_semi;
			border: 1px solid $color_ciper_green_semi;
			.message__close-button{
				&:after,
				&:before{
					background: $color_ciper_green_semi;
				}
			}
		}
		&-danger{
			color: $color_ciper_red;
			border: 1px solid $color_ciper_red;
			.message__close-button{
				&:after,
				&:before{
					background: $color_ciper_red;
				}
			}
		}
	}
}