////////////////////////////////////////
//////////////////////////////////////// Funciones
////////////////////////////////////////
@function strip-unit($number) {
	@if type-of($number) == 'number' and not unitless($number) {
		@return $number / ($number * 0 + 1);
	}

	@return $number;
}

@function get-color( $type, $shade ){
	@return map-get(map-get($colors_map, $type), $shade);
}

////////////////////////////////////////
//////////////////////////////////////// Utilitarios
////////////////////////////////////////
@mixin flex-column(){
	display: flex;
	flex-direction: column;
}
@mixin flex-row(){
	display: flex;
	flex-direction: row;
}
@mixin flex-row-center-stretch(){
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: stretch;
}
@mixin flex-col-center-center(){
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
@mixin flex-row-end(){
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
@mixin flex-row-space(){
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
@mixin flex-col-end(){
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
@mixin flex-fill(){
	@include flex-column;
	align-content: stretch;
}

@mixin width-centered($rems){
	width: $rems;
	max-width: $rems;
	margin: 0 auto;
}

@mixin width-percentered($per){
	width: $per * 1%;
	max-width: $per * 1%;
	margin: 0 auto;
}

@mixin get-icon($icon){
	content: $icon;
	font-family: $ketchup;
}

@mixin image-replacement {
	font-size: 0;
	line-height: 0;
	color: transparent;
	font-family: a;
}

@mixin reset-appearance {
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	background: transparent;
	border-radius: 0;
	line-height: 1;
	border: 0;
	outline: 0;
	padding: 0;
}

@mixin remove-select-arrow {
	text-indent: 0.01px;
	text-overflow: '';
	&::-ms-expand { display: none; }
}

@mixin placeholder {
	&::-webkit-input-placeholder { @content; }
	&::-moz-placeholder { @content; }
	&::-ms-input-placeholder { @content; }
}

@mixin range-track {
	&::-webkit-slider-runnable-track { @content; }
	&::-moz-range-track { @content; }
	&::-ms-track { @content; }
}

@mixin range-thumb {
	&::-webkit-slider-thumb { @content; }
	&::-moz-range-thumb{ @content; }
	&::-ms-thumb { @content; }
}

@mixin placeholder-color($color){
	&::placeholder,
	&::-webkit-input-placeholder,
	&::-moz-placeholder,
	&:-ms-input-placeholder,
	&:-moz-placeholder{
		color: $color;
	}
}

////////////////////////////////////////
//////////////////////////////////////// Media/Element Queries
////////////////////////////////////////

@mixin media( $type ){
	@if $type == huge-up {
		@media only screen and (min-width: $huge) { @content; }
	}
	@if $type == huge-down {
		@media only screen and (max-width: $huge) { @content; }
	}

	@if $type == extra-large-up {
		@media only screen and (min-width: $extra_large) { @content; }
	}
	@if $type == extra-large-down {
		@media only screen and (max-width: $extra_large) { @content; }
	}

	@if $type == large-up {
		@media only screen and (min-width: $large) { @content; }
	}
	@if $type == large-down {
		@media only screen and (max-width: $large) { @content; }
	}

	@if $type == medium-up {
		@media only screen and (min-width: $medium) { @content; }
	}
	@if $type == medium-down {
		@media only screen and (max-width: $medium) { @content; }
	}

	@if $type == midlarge-down {
		@media only screen and (max-width: $midlarge) { @content; }
	}

	@if $type == tablet-up {
		@media only screen and (min-width: $tablet+1) { @content; }
	}
	@if $type == tablet-down {
		@media only screen and (max-width: $tablet) { @content; }
	}

	@if $type == small-up {
		@media only screen and (min-width: $small) { @content; }
	}
	@if $type == small-down {
		@media only screen and (max-width: $small) { @content; }
	}

	@if $type == phablet-up {
		@media only screen and (min-width: $phablet) { @content; }
	}
	@if $type == phablet-down {
		@media only screen and (max-width: $phablet) { @content; }
	}

	@if $type == extra-small-up {
		@media only screen and (min-width: $extra_small) { @content; }
	}
	@if $type == extra-small-down {
		@media only screen and (max-width: $extra_small) { @content; }
	}
}
